@media only screen and (max-width: 600px) {
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: lightblue;
  }
  header{
    display: none !important;
  }
  .sticky{
    display: none !important;
  }
  .display-block{
    display: block !important;
  }
}